@import url('https://fonts.googleapis.com/css2?family=Radio+Canada:wght@300&display=swap');
*{
    margin: 0;
    font-family: 'Radio Canada', sans-serif;
    font-size: 25px;
    color: #689F38;
    line-height: 1.6;
}

#hero{
    background-image: url('../images/sunflower.jpg');
    background-size: cover;
    background-position: centre;
    height: 100vh;
    display: flex;
    
}